In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("../../data/00-raw-data/followers.csv")
data

,user_id,screen_name,followers_count,friends_count,listed_count,favourites_count,tweet_num,protected,verfied,description,location,label
0,2198516225,_Banzi_,27,199,0,601,122,False,False,NaN,Joburg,1
1,1504258025804210176,DelorbeTori,81,2771,0,0,6,False,False,"Tori , 22üòè , Submissiveüå∏",NaN,1
2,1581474148571877377,omkarVyawahare2,0,56,0,24,0,False,False,NaN,NaN,1
3,2967681610,L1BERTE_S,50,68,1,8735,2238,False,False,"Les querelles ne dureraient pas longtemps, si ...",Provence-Alpes-C√¥te d'Azur,1
4,1400890434,mistamomo_,356,1104,19,18347,20160,False,False,Amana.....abin riko da hanun dama ü§ù #freepales...,N/a,1
...,...,...,...,...,...,...,...,...,...,...,...,...
695,1576506437823504389,FranciscoPalob3,0,2,0,0,0,False,False,NaN,NaN,0
696,1570254264496177153,Nkindianfoods22,1,21,0,2,6,False,False,I m Narinder kaur I live in fort worth tx I ma...,"Fort Worth, TX",0
697,1580761571457994754,Dearl88447683,14,274,0,3,1,False,False,"Single, gay, goodlooking intelligent an hardwo...","Dallas, TX",0
698,1577029386699669512,JessieVasco,0,1,0,0,0,False,False,NaN,NaN,0
699,708145207837986816,Tia_Jay_,73,344,0,3456,3466,True,False,Cheers!,NaN,0

In [3]:
#feature engineering
data[["protected","verfied"]]=data[["protected","verfied"]].replace(False,0)
data[["protected","verfied"]]=data[["protected","verfied"]].replace(True,1)

In [4]:
data.drop(columns=(["description","location"]),axis=1,inplace = True)

In [5]:
data.to_csv("../../data/01-modified-data/cleaned_followers.csv",index=False)